body{
    background-color:#232323 ;
}

.square{
    width: 30%;
    background: purple;

    /*before this step below its all empty because we hv nothing in them,
     and they are empty divs and to be able to see we need to add a 
     padding-bottom to each div, after adding the line below, we will
     hv 6 divs which are aligned, so we need to float them to the left
     so they will be in the same line 
    
    */
    padding-bottom:30% ;

    float: left;
    margin: 1.66%;

}

#container{
    /*the line below will make the circles smaller*/
    max-width: 600px;
    margin: 0 auto;
    

}

h1{
    color: white;
}

span{
    color: white;
}